body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#editor {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
}

#buttons {
    margin-top: 10px;
}

#recentlySaved {
    margin-top: 20px;
}

#recentlySaved ul {
    list-style-type: none;
    padding: 0;
}

#recentlySaved ul li {
    margin-bottom: 5px;
    cursor: pointer;
}

#recentlySaved ul li:hover {
    text-decoration: underline;
}




/* Style buttons */
.function-button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

/* Darker background on mouse-over */
.function-button:hover {
    background-color: RoyalBlue;
}